extends ../layout

block content
  h1= title
  form(method="POST", action="#{action}")
    input(type="text", placeholder="reference name", name="name", value="#{reference.name}")
    br
    br
    input(id="movie-title", type="text", placeholder="start typing movie title", name="title")    
    br
    br
    - aaaa = ('1' == reference.category) ? 'selected' : null;
    - bbbb = ('2' == reference.category) ? 'selected' : null;
    - cccc = ('3' == reference.category) ? 'selected' : null;
    - dddd = ('4' == reference.category) ? 'selected' : null;
    select(name="category")
      option(value="1", selected=aaaa) aaaa
      option(value="2", selected=bbbb) bbbb
      option(value="3", selected=cccc) cccc
      option(value="4", selected=dddd) dddd
    br
    br
    textarea(rows="10", cols="70", placeholder="description", name="description")
      = reference.description
    br
    br
    button(type="submit") submit
